<section class="section">
  <div class="container">
    <div class="job-detail content">
      <div class="columns">
        <div class="column is-9">
            <h3 class="title is-3">
              <button class="button is-link" ng-click="jobDetail.copyLink()"><i class="fa fa-link"></i></button>
              {{jobDetail.job.title}}
            </h3>
            <h5 class="subtitle is-5">{{jobDetail.job.at}}</h5>
          </a>
          <job-category ng-repeat="category in jobDetail.job.categories" name="{{category}}"></job-category>
        </div>
        <div class="column is-3">
          <div class="pull-right has-text-centered">
            <a class="button is-link" href="{{jobDetail.job.link}}" target="_blank"><publisher-image publisher="{{jobDetail.job.publisher}}"></publisher-image></a>
            <br>
            <span am-time-ago="jobDetail.job.date" class="pull-right"></span>
          </div>
        </div>
      </div>
      <div class="section">
        <p ng-bind-html="jobDetail.job.description"></p>
      </div>
    </div>
  </div>
</div>